/* iOS/android phone landscape screen width*/
/* @media only screen and (orientation: landscape) and (min-width: 360px) and (max-width:480px) {

} */

/* Smartphones (portrait & landscape)
# Resolución = B/w 320px to 479px */
@media only screen and (min-width : 320px) and (max-width : 575px){
    #about{
        visibility:visible;
    }
    .background_wave{
        visibility: hidden;
    }
    .reborde {
        -webkit-text-stroke: 0.045rem oldlace;
    }
    .spellmell{
        margin: -2rem auto 2rem -4rem;
        font-size: 3rem;
    }
    h2{
        font-size: 1rem;
    }
    .title{
        font-size: 1rem;
    }
    .text{
        font-size: 0.72rem;
    }
    #body{
        display: inline-block;
        width: auto;
        top: 4rem;
    }
    .bodyFlow{
        width: 350px;
    }
    .gridItems{
        width: 250px;
    }
    .card1, .card2, .card3{
        width: 320px;
        min-width: 320px;
        text-align: center;
    }
    .card2 {
        margin-left: -1.5rem;
        margin-top: -40rem;
    }
    .card3{
        margin-bottom:8rem;
    }
    #foot{
        display: inline-block;
        padding: 0.72rem;
        left: 0;
        bottom: 0;
        width: auto;
        height: 250px;
    }
    .foot_contents{
        width: auto;
        padding: 0.36rem;
        font-size: 0.6rem;
    }
    .foot_contents > h2{
        font-size: 0.72rem;
    }
    .fa-grav{
        visibility: collapse;
    }
    #social_icons_conteiner {
        bottom: 14.5rem;
    }
}



@media only screen and (min-width: 578px) and (max-width: 769px){
    html{
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    body{
        width: auto;
        height: auto;
    }
    #about{
        visibility:visible;
    }
    .background_wave{
        visibility: hidden;
    }
    .backgrounds{
        visibility: visible;
    }
    .reborde {
        -webkit-text-stroke: 0.045rem oldlace;
    }
    .spellmell{
        margin: 0 auto;
        font-size: 5rem;
    }
    h2{
        font-size: 1rem;
    }
    .title{
        font-size: 1rem;
    }
    .text{
        font-size: 0.72rem;
    }
    #body{
        width: auto;
        top: 4rem;
        left: 0;
    }
    .bodyFlow{
        width: 350px;
    }
    .gridItems{
        width: 470px;
    }
    .card1, .card2, .card3{
        width: 320px;
        min-width: 320px;
        margin-left: -2rem;
        text-align: center;
    }
    .card2 {
        margin-top: -40rem;
        margin-left: -4rem;
    }
    .card3{
        margin-bottom:8rem;
    }
    #foot{
        display: inline-block;
        padding: 0.72rem;
        left: 0;
        bottom: 0;
        width: auto;
        height: 250px;
    }
    .foot_contents{
        width: auto;
        padding: 0.36rem;
        font-size: 0.6rem;
    }
    .foot_contents > h2{
        font-size: 0.72rem;
    }
    .fa-grav{
        visibility: collapse;
    }
    #social_icons_conteiner {
        bottom: 260px;
    }
}
}


