#social_icons_conteiner {
    z-index: 4;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 165px;
    right: 50px;
	width: 360px;
	max-width:36rem;
    height: 2rem;
    margin: 0 1rem;
    border-radius: 50%;
    text-decoration: none;
}
#social_icons_child > a > i{
    z-index: 4;
    margin: 0 0.36rem;
    padding: 0.63rem;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: oldlace;
    background-color: black;
    border-radius: 50%;
    border: solid 0.36rem darkorange;
    text-decoration: none;
    transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#social_icons_child > a:hover > i {
    z-index: 4;
    margin-top: -2.22rem;
    width: 1rem;
    height: 1rem;
    color:darkcyan;
    border-radius: 50%;
    text-decoration: none;
    transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}